tools/n8n/api-policy-rss.workflow.json
{
  "name": "Hesya — API Policy RSS Alert (E12-8)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "01959001-0000-7000-8000-000000000001",
      "name": "Every 30min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://developers.facebook.com/blog/feed",
        "options": {
          "ignoreSSL": false,
          "customFields": false
        }
      },
      "id": "01959001-0000-7000-8000-000000000002",
      "name": "RSS — Meta Developers Blog",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "01959001-0000-7000-8000-000000000003",
              "leftValue": "={{ $json.guid || $json.link }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "01959001-0000-7000-8000-00000000000a",
              "leftValue": "={{ $json.link }}",
              "rightValue": "^https?://",
              "operator": {
                "type": "string",
                "operation": "regex",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "01959001-0000-7000-8000-000000000004",
      "name": "Has GUID + http(s) link",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HESYA_WEBHOOK_URL }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "={{ $env.HESYA_WEBHOOK_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": \"meta-blog\",\n  \"title\": {{ JSON.stringify($json.title || \"\") }},\n  \"link\": {{ JSON.stringify($json.link || \"\") }},\n  \"guid\": {{ JSON.stringify($json.guid || $json.link || \"\") }},\n  \"pubDate\": {{ JSON.stringify($json.isoDate || $json.pubDate || null) }}\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "01959001-0000-7000-8000-000000000005",
      "name": "Notify Hesya",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Every 30min": {
      "main": [
        [
          {
            "node": "RSS — Meta Developers Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS — Meta Developers Blog": {
      "main": [
        [
          {
            "node": "Has GUID + http(s) link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has GUID + http(s) link": {
      "main": [
        [
          {
            "node": "Notify Hesya",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "01959001-0000-7000-8000-0000000000ff",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "hesya-api-policy-rss",
  "tags": [{ "name": "hesya" }, { "name": "E12-8" }]
}
